body {
    font-family: Helvetica, Arial, sans-serif;
}

.btn-wrapper {
    /* flexbox */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn {
    color: #000000;
    background-color: #fff;
    border: 2px solid #cecece;
    padding: .35rem 1rem .25rem 1rem;
    font-size: 1rem;
}

.btn:hover {
    background-color: #ecf2fd;
}

.btn:active {
    background-color: #d1e0fe;
}

.btn:focus {
    outline: none;
    border: black solid 2px;
}

.btn-primary {
    color: #ffffff;
    background-color: #8f4ea8;
    width: 100%;
    padding: .75rem;
    font-size: 1.3rem;
    border: none;
    margin: 1rem 0;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: #a762a7;
}

.btn-primary:focus {
    color: #000;
    outline: none;
    border: #000 solid 2px;
    background-color: #a762a7;
}

.btn-primary:active {
    background-color: #212020;
}